@import 'variables';

nav {
	height: 10vh;
}

.container-fluid {
	height: 86vh;
	overflow: scroll;
}

.col-sm-4 {
	border: 1px solid $carBorder;
	padding: 10px;
}

.selectedBorder {
	border: 4px solid $selectedBorder;
	background-color: $carBackground;
}
